_misc/hwreb
_misc/hwreb.conf
usr/src/chksmb/chksmb
usr/src/rev_socket-0.1a/lastflags
usr/src/rev_socket-0.1a/rev_socket.ver
usr/src/rev_socket-0.1a/rev_socket*.tar.gz
usr/src/rev_socket-0.1a/rs_client
usr/src/rev_socket-0.1a/rs_server
